# Python
__pycache__/
*.py[cod]
*$py.class

# ROS 2 workspaces (Host migration)
microros_ws/
microros_agent_ws/
build/
install/
log/

# Webots build artifacts
simulation/controllers/*/build/
simulation/controllers/*/arm_controller
*.wbt.bak
*.proto.bak

# Snap / System specific
.cache/
.config/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
